.cardImage_1 {
  background: url("/img/mitfflix.png");
}

.cardImage_2 {
  background: url("/img/gregoryvicent.png");
}

.card {
  background-size: cover;
  width: 100%;
  min-height: 260px;
  height: auto;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.infoBox {
  background-color: rgba(0,0,0,.8);
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 1rem 0;
}

.buttonBox {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

.buttonBox a{ 
  color: #fff;
  padding: 0 1rem;
  border-radius: 15px;
  background-color: #DF2E2E;
  width: 130px;
  margin: 0.5rem;
}

.buttonBox a:hover {
  color: #DF2E2E;
  background-color: #fff; 
}
