html {
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@media(min-width: 700px) {
  section {
    width: 80%;
    margin: auto;
  }
}

@media(min-width: 900px) {
  section {
    width: 60%;
    margin: auto;
  }
}

@media(min-width: 1200px) {
  section {
    width: 40%;
    margin: auto;
  }
}
