.container {
  width: 100%;
  display: flex;
  transition: all .5s ease;
}

.sub_container {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.main {
  width: 80%;
  margin: 0 auto;
}

.nav {
  transition: all .5s ease;
  width: 50%;
}

.nav_hidden {
  margin-right: -35vw;
}

.back_home {
  margin: 2rem;
  color: rgb(192, 192, 192);
  cursor: pointer;
  transition: all .5s ease;
}

.back_home:hover {
  color: #DF2E2E;
}

