.nav {
  width: 100%;
  position: fixed;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
}

.nav_button {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 80px;
  height: 80px;
}

.nav_id_1 {
  grid-column: 2/3;
}

.nav_id_2 {
  grid-column: 2/3;
}

.nav_id_3 {
  grid-column: 2/3;
}

.nav_item {
  border: solid 1px rgb(192, 192, 192);
  border-radius: 10px;
  width: 250px;
  height: auto;
  margin: 2vh 1rem;
  padding: 1rem;
  cursor: pointer;
  transition: all .5s ease;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_item:hover {
  color: #DF2E2E;
  border: solid 1px #DF2E2E;
}

.nav_text {
  font-size: 1.1rem;
  font-weight: 100;
  margin-top: 2vh;
}

